LoremPicsum.xcodeproj/xcshareddata/xcschemes/LoremPicsum.xcscheme
LoremPicsum.xcodeproj/xcuserdata/pawel.dziennik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
LoremPicsum.xcodeproj/xcuserdata/pawel.dziennik.xcuserdatad/xcschemes/xcschememanagement.plist

LoremPicsum.xcodeproj/xcuserdata/pawel.dziennik.xcuserdatad/xcschemes/xcschememanagement.plist
