
BuildTools/.build/
BuildTools/.swiftpm/
LoremPicsum.xcodeproj/xcuserdata/pawel.dziennik.xcuserdatad/xcschemes/xcschememanagement.plist
LoremPicsum.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
